.skills {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.skills-wrapper {
    padding: 2rem 0;
}

.skills-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills-list li {
    padding: 10px 0;
    opacity: 0.6;
}

.skills-list li:hover {
    opacity: 1;
}
