.green {
    background-color: green;
    border: none;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    width: 150px;
}

.orange {
    background-color: orange;
    border: none;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    width: 150px;
}
